* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
input,
textarea,
button {
    font: inherit;
} /* Kế thừa font chữ mặc định */

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Custom Scrollbars  */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 100px;
}

:root {
    --height-nav: 48px;
    --header-color: #0d1111;
    --text-color: #9da6a5;
    --primary-color: #494949;
    --btn-color: #1ebfc1;
    --btn-hover: rgb(224, 222, 222);
}
/* Common */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 135px);
}
body {
    width: 1440px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
.heading {
    color: var(--header-color);
    font-weight: 700;
    line-height: normal;
}
.heading.lv1 {
    font-size: 6.2rem;
    color: var(--header-color);
    font-style: normal;
}
.heading.lv2 {
    font-size: 4.2rem;
}

/* Button */
.btn {
    display: inline-block;
    line-height: 48px;
    min-width: 108px;
    border: none;
    border-radius: 6px;
    background: var(--btn-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}

.btn:hover {
    opacity: 0.9;
    background: var(--primary-color);
}
/* Header Nav */
.header {
    margin-top: var(--height-nav);
    width: 1440px;
    padding: 6px 0;
    background: var(--btn-color);
}
.header.fixed {
    position: sticky;
    top: 0;
    z-index: 99;
}
.header .home-nav {
    height: var(--height-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .main-nav ul {
    display: flex;
    gap: 39px;
}
.header .main-nav .active {
    font-weight: 600;
    color: #fff;
}
.header .main-nav a {
    position: relative;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.main-nav a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 125%;
    transform: scaleX(0);
    border-bottom: 4px solid #fff;
    transform-origin: left;
}
.main-nav li:hover a::after {
    transition: 0.4s;
    transform: scale(1);
}
.header .action .sign-in-btn {
    color: #494949;
    font-size: 1.6rem;
    margin-right: 24px;
    font-weight: 600;
}
.header .action .sign-in-btn:hover {
    color: #fff;
}
.header .action .sign-up-btn {
    color: var(--btn-color);
    font-size: 1.6rem;
    font-weight: 600;
    background: #fff;
    border: 1px solid #1ebfc1;
}
.header .action .sign-up-btn:hover {
    background: var(--btn-color);
    color: #fff;
    border: 1px solid #ffffff;
}
/* Home page */
.home-page .body {
    margin: 50px auto 79px;
    display: flex;
    justify-content: space-between;
    height: 631px;
    background: #fff;
}
.home-page .left-home {
    margin: 93px 136px 93px 0;

    width: 45.3%;
}
.home-page .title {
    margin-top: 18px;
    width: 458px;
    color: var(--header-color);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px; /* 116.129% */
}
.home-page .desc {
    margin-top: 46px;
    width: 375px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 32px; /* 177.778% */
}
.home-page .click-btn {
    margin-top: 52px;
    display: flex;
    align-items: center;
    height: 68px;
}
.home-page .get-btn {
    width: 186px;
    height: 68px;
}
.home-page .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}
.home-page .play-btn:hover {
    opacity: 0.8;
    background: rgb(224, 222, 222);
    transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}
.home-page .play-btn img {
    width: 14px;
    height: 18px;
}
/* Right HomePage */
.home-page .right-home {
    position: relative;
    top: 0;
    right: 0;
}
.home-page .right-home .course-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    flex-shrink: 0;
    background: var(--btn-color);
}
/* Courses 1000+ */
.home-page .right-home .book-home {
    position: absolute;
    top: 150px;
    left: -40px;
    width: 157px;
    height: 75px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-radius: 18px;
}
.right-home .book .book-img {
    width: 36px;
    height: 40px;
    flex-shrink: 0;
}
.right-home .book .book-space {
    position: absolute;
    top: 45px;
    left: 28px;
    width: 28px;
    height: 4px;
}
.right-home .book-home span {
    margin-left: 16px;
    color: var(--header-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}
/* schedules */
.right-home .schedules {
    position: absolute;
    background: #fff;
    bottom: 46px;
    left: -66px;
    width: 124px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 24px;
}
.schedules .title-schedules {
    margin-top: 16px;
    color: var(--header-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.schedules .schedule-img {
    margin: 16px 25px 42px;
}
.schedules .schedule-img img {
    width: 74px;
    height: 6px;
    margin-bottom: 12px;
    display: flex;
    gap: 10px;
}
.schedules .schedule-icon {
    position: absolute;
    bottom: 23px;
    left: 50px;
    margin-top: 16px;
    width: 26px;
    height: 6px;
    border-radius: 3px;
}
/* Students */
.right-home .students {
    position: absolute;
    top: 40px;
    right: 45px;
    width: 207px;
    height: 90px;
    background: #fff;
    border-radius: 24px;
}
.students .students-info {
    margin: 17px 35px;
}
.students .students-title {
    margin: 17px 0 0 35px;
    color: var(--header-color);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: normal;
}
.students .students-list {
    display: flex;
    height: 33px;
    margin: 8px 35px 17px;
}
.students .students-list li {
    margin-left: -8px;
}
.students .students-list li:nth-child(1) {
    margin-left: 0;
}
/* features */
.features {
    margin: 130px auto 0 135px;
    width: 1024px;
}
.features .main-content {
    margin-left: 0;
}
.popular .info-title,
.features .info-title {
    margin: 18px 0;
    width: 577px;
    color: var(--header-color);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}
.popular .info-desc,
.features .info-desc {
    width: 590px;
    color: var(--primary-color);
    font-size: 1.8rem;
    line-height: normal;
}
.feature-list .feature-item {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    /* gap: 209px; */
    align-items: center;
}

.feature-list .feature-item img {
    width: 102px;
    height: 106px;
    object-fit: cover;
    flex-shrink: 0;
}
.feature-list .feature-title {
    margin-top: 26px;
    color: var(--header-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}
.feature-list .feature-desc {
    margin-top: 16px;
    width: 225px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 27px; /* 168.75% */
}

/* popular */
.popular {
    margin-top: 130px;
    height: 737px;
}
.popular .course {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}
.popular .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .info a {
    color: var(--btn-color);
    font-size: 1.4rem;
    line-height: normal;
    font-weight: 700;
    text-decoration-line: underline;
}
.popular .info a:hover {
    /* color: #1ebfc1; */
    opacity: 0.8;
}
.popular .course-item {
    margin-top: 79px;
    display: flex;
    /* gap: 47px; */
    justify-content: space-between;
    align-items: center;
}
.popular .course-item img {
    width: 359px;
    height: 393px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
}
.popular .course-item li {
    position: relative;
    height: 393px;
}
.popular .course-item img:hover {
    cursor: pointer;
}
.popular .course-item li .course-info {
    position: absolute;
    bottom: -100px;
    margin: 0 17px;
    background: #5beaec;
    width: 325px;
    height: 195px;
    flex-shrink: 0;
    border-radius: 8px;
}
.course-info .info {
    margin-left: 25px;
    display: block;
}
.course-item .course-info .course-title {
    margin-top: 18px;
    color: var(--header-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}
.course-item .course-info .course-fee {
    margin-top: 16px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}
.course-item .course-info .course-fee strong {
    color: var(--header-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.course-item .course-info .course-intro {
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: normal;
}

.course-item .course-info .classes {
    margin-top: 18px;
    display: flex;
    position: absolute;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 29px;
}
.course-item .course-info .time,
.course-item .course-info .qty {
    margin: 0 8px 0 16px;
}
.course-item .course-info .qty::before,
.course-item .course-info .qty::after {
    content: "";
    /* display: inline-block; */
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 0;
}
.course-item .course-info .classes .qty::after {
    left: 100px;
}
/* statistics */
.statistics {
    margin: 265px auto 0;
    background: #fff;
    display: flex;
    width: 862px;
    height: 131px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    line-height: normal;
}
.statistics h1 {
    color: var(--header-color);
    font-size: 6.2rem;
    font-weight: 700;
}
.statistics p {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 1.8rem;
}

/* feedback */
.feedback {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    position: relative;
    margin-top: 264px;
    height: 481px;
    flex-shrink: 0;
}
.feedback-left {
    display: flex;
    flex-direction: column;
    padding: 36px 0;
    width: 45%;
}
.feedback-left .img-quote {
    width: 36px;
    height: 29px;
    flex-shrink: 0;
}
.feedback-left .feedback-text {
    margin-top: 27px;
    width: 420px;
    color: var(--text-color);
    font-size: 3.2rem;
    line-height: 48px; /* 150% */
}
.feedback-info {
    margin-top: 33px;
    position: relative;
    display: flex;
    align-items: center;
}
.feedback-info p {
    margin-left: 15px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: normal;
}
.feedback-info strong {
    color: var(--header-color);
    font-size: 1.7rem;
    font-weight: 500;
    line-height: normal;
}
.feedback-info::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    left: 0;
    background: var(--header-color);
}
.feedback-nav {
    margin-top: 52px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--btn-color);
}
.feedback-icon img {
    width: 6px;
    height: 12px;
}
.feedback-icon:nth-last-child(1) img {
    transform: rotateY(180deg);
}
.feedback-right {
    width: 54%;
    position: absolute;
    top: 0;
    right: 0;
    height: 481px;
}
.feedback-right img {
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
}
.feedback-right img:nth-child(1) {
    top: 10px;
    right: 10px;
}
.feedback-right img:nth-child(2) {
    top: 15%;
    left: 0;
}
.feedback-right img:nth-child(3) {
    right: 90px;
    bottom: 10px;
}
.feedback-right img:nth-child(4) {
    width: 240px;
    height: 240px;
    top: 20%;
    right: 145px;
}
.feedback-right img:nth-child(5) {
    width: 160px;
    height: 160px;
    bottom: 30px;
    left: 60px;
}
.feedback-right img:nth-child(6) {
    width: 130px;
    height: 130px;
    top: 5%;
    left: 30%;
}
/* cta-learn */
.cta-learn {
    margin-top: 130px;
    width: 1440px;
    height: 272px;
    flex-shrink: 0;
    background: #def6f5;
    position: relative;
}

.cta-learn .cta-ready {
    /* padding: 76px; */
    width: 420px;
    padding-top: 76px;
    margin-left: 135px;
}

.cta-learn p {
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: normal;
}
.cta-learn .get-btn {
    position: absolute;
    top: 40%;
    right: 15%;
}
/* footer */
.footer .body {
    margin-top: 130px;
}
.footer .footer-besnik {
    display: flex;
    justify-content: space-between;
}
.footer .column .title {
    color: var(--header-color);
    font-size: 1.8;
    font-weight: 500;
    line-height: normal;
}
.footer .column ul {
    margin-top: 25px;
}
.footer .column li {
    margin-bottom: 18px;
}
.footer .column a:hover {
    color: var(--btn-color);
    text-decoration: underline;
}
.footer .column li a {
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: normal;
}
.footer .column .social-icon {
    margin-right: 10px;
}
.footer .footer-list img {
    width: 15px;
    height: 15px;
}
.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: normal;
    padding-bottom: 50px;
}
